<!DOCTYPE html>
<html>

<title>RentBuddy!</title>

</script>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('login').style.display='block'" class="w3-button w3-orange"><a href="login.html"> Log In! </a></p> 
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('login').style.display='block'" class="w3-button w3-blue"><a href="signup.html"> Sign Up! </a></p> 
  </div>
  </div>
  </div>
</div>
</body>
</html>

<html>
<head>
<title>RentBuddy </title>
</head>
<body style="margin:100;padding:50">

<h1 style = "color:rgba(400,133,0); font:22pt;text-align:center"> Rent a buddy today! You will never be alone</h1>
<p style="text-align:center;">

<div id="clockbox" style="font:14pt TimesNewRoman; color:#FF4500; text-align:right"></div>
<script type="text/javascript">
var tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
var tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

if(nhour==0){ap=" AM";nhour=12;}
else if(nhour<12){ap=" AM";}
else if(nhour==12){ap=" PM";}
else if(nhour>12){ap=" PM";nhour-=12;}

if(nmin<=9) nmin="0"+nmin;
if(nsec<=9) nsec="0"+nsec;

var clocktext=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
document.getElementById('clockbox').innerHTML=clocktext;
}

GetClock();
setInterval(GetClock,1000);
</script>

</p>


<p>  Rentbuddy provides the perfect platform where individuals are able to connect in a hasslefree way on a social basis - It could be dinner, movies, drinks, gaming or even a nice stroll in the park!

  Our personalities are a fun bunch of individuals who can hold engaging conversations and provide fulfilling social interactions.
  
  Choose personalities from our platform and set the day, time and place to meet or simply request for a shoutout/collaboration. It's that easy! 


<br>

</p>
</body>
</html>

