<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login to RentBuddy</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

</style>
<body style="margin:100;padding:50">

<h1 style = "color:rgba(400,133,0); font:22pt;text-align:center"> Start renting your buddy today</h1>
<h2 style = "color:rgba(400,133,0); font:16pt;text-align:left"> Login Now!</h2>
	
	<div class="limiter">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form method = "POST" action = "home" class="login100-form validate-form flex-sb flex-w"> {%csrf_token%}
					<span class="login100-form-title p-b-53">
					</span> <br>
					
					<label for="email"><b>Email</b></label>
    					<input type="text" placeholder="Enter email address" name="email" required><br>
					<label for="pw"><b>Password</b></label>
    					<input type="password" placeholder="Enter Password" name="pw" required><br>
					</div>

					<div class="container-login100-form-btn m-t-17--align-center">
						<div class ="center">
						<button class="login100-form-btn-align-center">
							Sign In
						</button>
					</div>
				</form>
				<p style = "color:rgba(255,0,0); font:16pt;text-align:center"> {{error}} </p> <br> <br>
			
				<div class="w-full text-center p-t-55">
					<span class="txt2">
						Not a member?
					</span>
					<a href="signup.html" class="txt2 bo1">
						Sign up now
					</a>
				</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>


</body>
</html>
