<html>

	<head>
		<title> RentBuddy! </title>
	</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body style="margin:50;padding:50">

<div id="clockbox" style="font:12pt TimesNewRoman; color:#FF4500; text-align:right"></div>
<script type="text/javascript">
var tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
var tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

if(nhour==0){ap=" AM";nhour=12;}
else if(nhour<12){ap=" AM";}
else if(nhour==12){ap=" PM";}
else if(nhour>12){ap=" PM";nhour-=12;}

if(nmin<=9) nmin="0"+nmin;
if(nsec<=9) nsec="0"+nsec;

var clocktext=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
document.getElementById('clockbox').innerHTML=clocktext;
}

GetClock();
setInterval(GetClock,1000);
</script>
<br>		<font color = 'orange'>
		<h1> 
			Sign up to Rentbuddy! Feeling lonely? Not anymore!!!!!!!!!
		</h1>
	</head>
	<body>		
		<form method="POST" action="/app/login.html"> {% csrf_token %}
			<div class="container">

			<label for="Email">Email</label>
    			<input type="text" placeholder="Enter your email" name="Email" required><br>
			
			<label for="Name">Name</label>
    			<input type="text" placeholder="Enter your name" name="Name" required> <br> 
			
			<label for="Age">Age</label>
    			<input type="text" placeholder="Enter your age" name="Age" required> <br> 	
			
			<label for="Gender">Gender</label>
    			<input type="text" placeholder="Enter your gender" name="Gender" required> <br> 	
			
			<label for="Phone Number">Phone Number</label>
    			<input type="text" placeholder="Enter your phone number" name="Number" required> <br> 	
    		
			<label for="Vaccination Status">Vaccination Status</label>
    			<input type="text" placeholder="Please enter your vaccination status" name="Vaccination Status" required> <br> 	
			
			<label for="pw"> Password </label>
    			<input type="password" placeholder="Please enter your password" name="pw" required><br>
    			<input type="submit" value="Sign up now!">

			<font color = 'red'> {{ email_verifier }} <br>
			{{pw_warning}} <br>
			{{ name_warning }} <br>
			{{ gender_warning }} <br>
			{{ phone_number_warning }} <br>
			{{ vaccination_status_warning }} <br>
		</font>
			
  			</div>

		</form>
	</body>
</html>
